@model GED_APP.Models._Arrete
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewData["Title"] = "Create";
    ViewData["PageTitle"] = Model.Id == 0 ? "Create new Arrete" : "Edit Arrete";
}
<div class="row">
    <div class="col-md-12">
        <div class="widget p-4">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="row widget">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <ejs-textbox id="code" placeholder="Code physique" floatLabelType="Always" ejs-for="Code"></ejs-textbox>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <ejs-textbox id="objet" multiline="true" placeholder="Objet" floatLabelType="Always" ejs-for="Objet"></ejs-textbox>
                            <span asp-validation-for="Objet" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <ejs-textbox id="num" placeholder="Numero" floatLabelType="Always" ejs-for="Numero"></ejs-textbox>
                            <span asp-validation-for="Numero" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <ejs-maskedtextbox mask="99-99-9999" id="annee" placeholder="Date signature" floatLabelType="Always" ejs-for="DateSign"></ejs-maskedtextbox>
                            <span asp-validation-for="DateSign" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <ejs-textbox id="sign" placeholder="Signataire" floatLabelType="Always" ejs-for="Signataire"></ejs-textbox>
                            <span asp-validation-for="Signataire" class="text-danger"></span>
                        </div>
                        
                    </div>
                </div>
                <ejs-button id="submit" cssClass="e-success align-center" type="submit" content="submit"></ejs-button>
            </form>
        </div>
    </div>
    @* <div class="col-md-2">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <div class="image" style="width:40px; height:50px;">
            </div>
            <i class="fa fa-user" fa-2xl aria-hidden="true"></i>
        </div>

    </div> *@

</div>
