.toast-top-center {
    top: 12px;
    margin: 0 auto;
    left: 50%;
    margin-left: -150px;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Inter"
}
*:not(.fa-solid):not(.fa):not(.e-icons){
    font-family: "Inter";

}

body {
    margin-top: 50px;
    margin-bottom: 60px;
    /*background-color: #f8f9fa;*/
    background-color: #12161d;
    /*background: url("../img/images/font/content.PNG");*/
    /*background-color: rgba(156, 156, 163, 0.50);*/
    height: 100%;
    color: #fff;
    overflow: hidden;
}
.contenuG{
   /* min-height:100%;*/
    background-color:#fff;
}
.e-bigger {
   /*/background-color: rgb(239 68 68);*/
    font-size: x-large;
}
/*navbar*/
nav.navbar {
    margin-left: 290px;
    /*background-color: #1a222b;*/
}
nav.navbar i{
    padding:10px;
    border-radius:50%;
    font-size:1.2rem;
    cursor:pointer;
}
nav.navbar i:hover, nav.navbar img:hover{
    cursor:pointer;
    background-color:#48554f14;
    transform:scale(1.05) translateZ(0px);
 }
/* bloc login droit*/
.blocLoginDroite {
    background-color: rgba(156, 156, 163, 0.30);
    border-radius: 12px;
}
p{
    text-align:justify;
    font-size:15px;
}
/*profile*/
img.profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.profile-wraper {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: inherit;
    /*background-color: #48554f14;*/
    /*background-color: ##9C9CA3;*/
    /*background-color: rgba(72, 84, 95, 0.30);*/
    background-color: rgba(156, 156, 163, 0.30);
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}
.profile-wraper .titles{
    line-height:1;
}

.main-content{
    height:80vh;
    /*background-color:aqua;*/
  /*height:calc(100vh-5px);*/
   overflow-y:auto;
  
}

.e-breadcrumb a, .e-breadcrumb a:hover{
    text-decoration: none!important;
    color:inherit!important;

}
/*bouton*/
.btn:focus, .btn:active{
    outline:none !important;
    box-shadow: none;
}
/*hyperlink*/
.no-a-decoration, no-a-decoration:hover{
    text-decoration:none;
    color:inherit;
}
.e-grid{
    border:0;
    border-radius:5px;
   
}
    .e-grid .e-gridcontent {
        padding: 10px;
    }
.e-grid .e-gridcontent, .e-grid .e-table{
    background-color: #1a222b;
   
}
.e-grid .e-gridhear{
    border:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    padding:10px;
    background-color:#222b33;  
}
.e-pager div.e-icons:not(.e-disable){
    color:#fff;
    cursor:pointer;
    font-weight:bold;
}
.e-grid .e-pager {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*logo*/
.logo-wrapper{
    height:70px;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.app-logo{
    padding: 10px 10px;
}

/*menu*/
#menu{
    width:100% !important;
   /*background-color:inherit;*/
   
    min-height:100%;
    overflow:hidden;
}
#menu .e-menu-item:not(.e-separator){
    height:40px;
    border-radius:4px;
}
#menu .e-menu-item{
    box-sizing:border-box;
}
#menu .e-menu-item a {
    width: 100%;
    color:rgb(171, 163, 152);
    font-weight:300;
    padding: 7px 5px;
    box-sizing: border-box;

}
#menu .e-anchor-wrap{
    display:inline-block;
}
#menu .e-menu-item .e-anchor-wrap span.e-menu-icon{
    color:rgb(171, 163,152);
}
#menu .e-menu-item.e-separator{
    border:none;
    margin: 5px 3px;
    text-transform:uppercase;
    font-weight:bold;
    font-size:13px;
    color:#65da41;
}

#menu .e-menu-item.e-separator:not(:first-child){
    margin-top:25px;
}
    /*radio button */
    .e-btn-group.custom-rbt-group {
        width: 100%;
    }
.e-btn-group.custom-rbt-group {
    width: 100%;
}
.e-btn-group.custom-rbt-group .e-btn {
    width: 50%;
}
.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    background-color : rgb(34 43 51);
    color: #fff;

}
.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    border: 1px solid #fff;
    background-color: #fff;
    color: #212b36;
}

/*sidebar*/

#sidebar {
    border-radius: 1rem;
    background-color: #1a222b;
   /* background-color: #12161d;*/
    /*background-color: #1a222b;*/
    /*background-color:#2aa1ff;*/

    border-right: 1px dashed rgba(75, 82, 85, 0, 24);
    padding: 10px 20px;
    overflow: hidden;
}
#sidebar .e-menu-wrapper{
    width:100%;
    background-color:inherit;
}
#sidebar-toggler{
    padding: 10px;
    border-radius:50%;
    font-size:1.2em;
    cursor:pointer;
}
#sidebar-toggler:hover{
    cursor:pointer;
    background-color:#485f14;
    transform:scale(1.05) translateZ(0px);
}
#sidebar.e-close{
    padding-left:10px;
    padding-right:10px;
}
/*#sidebar.e-close .app-logo{
    display:none;
}*/
#sidebar.e-close .e-anchor-wrap, #sidebar.e-close .e-menu-item.e-menu-caret-icon{
    font-size:0px;
}
#sidebar.e-close .profile-wraper .titles{
    display:none !important;
}
   
    #sidebar.e-open .e-anchor-wrap,
    #sidebar.e-close .e-menu-icon,
    #sidebar.e-open .e-menu-icon {
        visibility: visible;
    }
#sidebar.e-open .profile-wraper .titles, #sidebar.e-open .app-logo{
    display:flex;
}
#sidebar.e-sidebar.e-right.e-close{
    visibility:visible;
    transform:translateX(0%);
}
#sidebar.e-open #sidebar-toggler:before {
    content: '\f100'
}
#sidebar.e-close #sidebar-toggler:before {
    content: '\f101'
}

    .widget {
        border-radius: 1rem;
        background-color: #1a222b;
    } 
.widget.summary > div:first-child{
    background-color: #222b33;
    padding:1rem;
    border-top-left-radius:1rem;

}
.widget.summary > div:first-child i{
    font-weight:bold;
 }

.widget.income > div:first-child {
    background-color: #65da41;
 }
.widget.expense > div:first-child {
        background-color: #ff4e48;
 }
.widget.balance > div:first-child {
        background-color: #2aa1ff;
}
.widget.chart {
       padding:5px;
 }

/*login form*/
#btnLogin {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
}

#tbhistorique {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   
}
    #tbhistorique tr td {
        padding-left: 5px;
        border: 1px solid #fff;
    }

 /*acces denied*/
.card {
    background-color: #1a222b;
    border-radius: 15px;
}
.card-body {
    background-color: rgba(156, 156, 163, 0.30);
}

.fa-exclamation-triangle {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
